* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Chivo', sans-serif;
  background: url("images/concrete_wall.png");
  background-repeat: repeat;
  position: center;
}

h2 {
  font-size: 28px;
}

h5 {
  font-size: 18px;
}

.header {
  padding: 0;
  position: fixed;
  top: 0;
  background-image: linear-gradient(#7e7272, #534b4b);
  width: 100%;
  font-size: 18px;
  color: #fff;
  z-index: 1;
}

.header a {
  color: #fff;
}

.header a:hover {
  color: #fff;
  text-decoration: underline;
}

.container {
  padding-top: 94px;
  padding-bottom: 32px;
  margin-top: -62px;
}

.input-text {
  width: calc(100% - 144px);
  box-sizing: border-box;
  border: 2px solid #7e7272;
  border-radius: 2px;
  background-color: white;
  padding: 4px;
}

.input-form form input[type="submit"] {
  margin-top: 8px;
  width: 140px;
  box-sizing: border-box;
  border: 2px solid #7e7272;
  background-image: linear-gradient(#7e7272, #534b4b);
  color: #fff;
  border-radius: 2px;
  padding: 4px;
}

.input-form form input[type="submit"]:disabled {
  opacity: 0.6;
}

.menu-link {
  color: #000000;
}
.menu-link:hover {
  color: #000000;
  text-decoration: underline;
}

footer {
  position: relative;
  background-image: linear-gradient(#7e7272, #534b4b);
  padding: 10px 0 0 0;
  text-align: center;
  color: white;
}

@media only screen and (max-width: 768px) {
  footer div div p {
    font-size: 14px;
    padding: 0 14px;
  }
  .input-text {
    width: 100%;
  }
  .input-form form input[type="submit"] {
    width: 100%;
  }

}