* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: url("images/concrete_wall.png");
  background-repeat: repeat;
  position: center;
}

header {
  background: url("images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 35px;
  width: 100%;
  color: #fff;
}

@media (min-width: 768px) {
  #navbar-top {
    padding: 0;
  }
  .picture {
    padding: 15% 0;
  }
}

@media (max-width: 768px) {
  .picture {
    padding: 50% 0;
  }
}

h1 {
  font-size: 40px;
  text-shadow: 2px 2px 2px #534b4b,
              -1px 2px 2px #534b4b;
}

nav {
  width: 100%;
  margin: 0;
  background: #ccc;
  color: white;
}

nav ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

#foot {
  background-color: #534b4b;
  padding: 2px 0;
  text-align: center;
  color: white;
}
